.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(93, 14, 100, 0.979);
  border: 1px solid #8a068a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: rgb(129, 11, 139);
  border: 1px solid black;
}
