.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgba(173, 21, 187, 0.699);
  color: white;
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: rgba(173, 21, 187, 0.877);
}

.icon {
  width: 2em;
  height: 2em;
  margin-right: 0.5rem;
}

.badge {
  background-color: rgba(200, 25, 216, 0.781);
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: rgba(231, 27, 250, 0.877);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}